@import 'tailwindcss';

@theme {
  --font-serif:
    'Sanchez', ui-serif, 'Georgia', 'Cambria', 'Times New Roman', 'Times', serif;
}

@custom-variant dark (&:where(.dark, .dark *));

/* Couldn't really get this to work with Tailwind */
input[type='range']::-webkit-slider-thumb {
  @apply h-6 w-6 cursor-pointer appearance-none rounded-none border border-black bg-stone-100 shadow-none;
}

input[type='range']::-webkit-slider-thumb:hover {
  @apply bg-stone-200;
}

.dark input[type='range']::-webkit-slider-thumb {
  @apply border-white bg-stone-900;
}

.dark input[type='range']::-webkit-slider-thumb:hover {
  @apply bg-stone-800;
}

input[type='range']::-moz-range-thumb {
  @apply h-6 w-6 cursor-pointer appearance-none rounded-none border border-black bg-stone-100 shadow-none;
}

input[type='range']::-moz-range-thumb:hover {
  @apply bg-stone-200;
}

.dark input[type='range']::-moz-range-thumb {
  @apply border-white bg-stone-900;
}

.dark input[type='range']::-moz-range-thumb:hover {
  @apply bg-stone-800;
}

body {
  @apply bg-white transition-colors;
}

body.dark {
  @apply bg-black transition-colors;
}
